SERVER_PORT=8080
APP_NAME="RIMDesk Product API"
APP_ENV=development

DB_HOST=
DB_TYPE=sqlite
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=rimdesk_products_db

DB_MYSQL_URL="${DB_USER}:${DB_PASS}@tcp(${DB_HOST}:${DB_PORT})/${DB_NAME}?charset=utf8mb4&parseTime=True&loc=Local"
DB_POSTGRES_URL="host=${DB_HOST} user=${DB_USER} password=${DB_PASS} dbname=${DB_NAME} port=${DB_PORT} sslmode=disable"